<app-navbar></app-navbar>
<br><br><br>

<div class="container bg-white rounded pt-4">

    <!-- Filter Kategori -->
    <div class="mb-3">
        <label for="categoryFilter">Pilih Kategori:</label>
        <select id="categoryFilter" class="form-control" (change)="filterByCategory($event)">
            <option value="">Semua Kategori</option>
            <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
        </select>
    </div>

    <!-- Daftar Artikel -->
    <div class="row text-center mb-5">
        <div *ngFor="let article of filteredArticles" class="col-md-4 col-sm-12">
            <div class="imgup mb-2">
                <img [src]="'../../assets/admin/assets/images/foto_pos/' + article.gambar" alt="...">
            </div>
            <div class="article-content">
                <h5 class="article-title">
                    <a [href]="'blog/' + article.id_pos" class="font-weight-bold">
                        {{ article.judul }}
                    </a>
                </h5>
                <hr>
                <p class="article-date"><i class="fa fa-calendar"></i> {{ article.tgl | date: 'MMMM d, y' }}</p>
            </div>
        </div>
    </div>

    

</div>

<app-footer></app-footer>
