<footer>
    <div class="footer-container">
        <div class="container-fluid text-center text-md-left">
            <div class="row text-white">
                <div class="col-md-2 mx-auto">
                    <p>Tentang Kami
                    <p>Mahiahijab didirikan pada Agustus 2020, dengan fokus pada penjualan produk pakaian muslim serta hampers.
                </div><div class="col-md-2 mx-auto">
                    <p>Selogan Kami
                    <p>Tampil Anggun Penuh Pesona, Memancarkan Kecantikan Muslimah Sejati dengan Mahiahijab
                </div>
                <div class="col-md-2.5 mx-auto">
                    <p>Hubungin kami</p>
                    <ul class="list-unstyled">
                        <li>+62 878 4849 7177</li>
                        <li>Mahiahijab&#64;gmail.com</li>
                        <li>Perumahan Griya Persada Elok Blok H No.17 Tambun Selatan, Bekasi.
                    </ul>   
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center">
        ©2025Copyright: Mahiahijab
    </div>
</footer>