/* Sidebar */
app-sidebar {
    width: 4.8cm;
    min-width: 4.8cm;
    background-color: #f8f9fa;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    border-right: 1px solid #ddd;
}

/* Konten Utama */
.main-content {
    margin-left: 5cm; /* Geser konten utama ke kanan 7cm */
    padding: 20px;
    width: calc(100% - 5cm); /* Sisakan ruang untuk sidebar */
}

/* Tabel */
.table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
    padding: 15px;
    vertical-align: middle;
    border: 1px solid #ddd;
}

.table thead {
    background-color: #343a40;
    color: white;
}

/* Tombol */
.btn {
    padding: 8px 12px;
    font-size: 14px;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}
